@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

*{
  margin: 0;

  padding: 0;

  color: white;
}

body{
  background-color: rgb(19, 19, 19);
}

.app{
  text-align: center;

  margin-top: 40px;
}

.app h1{
  margin-bottom: 20px;

  font-family: Roboto;
}

.search input{
  border: none;
  border-radius: 6px;

  padding: 10px;

  width: 80%;
  
  color: white;

  outline: none;

  background-color: rgb(49, 49, 49);

  margin-bottom: 40px;
}


.anime-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;

  list-style: none;

  margin: 0 10%;

  font-family: Roboto;
}

.anime-list img{
  max-width: 100%;

  border-radius: 6px;

  margin-bottom: 6px;
}